.delivery-bg {
  padding: 0 20px;
}

.delivery {
  background: linear-gradient(to bottom left, #f3c7c4, #541511);
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;

  min-height: 380px;
  position: relative;
}

/* Imagem */
.delivery-img {
  position: absolute;
  left: 0;
  top: -50px;
}

/* Texto */
.delivery-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;

  text-align: right;
  color: white;
}

.delivery-texto h2 {
  padding: 8px 0;
}

.delivery-texto p {
  margin-bottom: 48px;
}

.delivery-texto a {
  max-width: 200px;
  text-align: center;
}

@media (width <= 1000px) {
  .delivery {
    align-items: center;
    margin-bottom: 50px;

    min-height: 300px;
  }
  .delivery-img {
    display: none;
  }
  .delivery-texto {
    justify-content: center;
    align-items: center;
    gap: 20px;

    text-align: center;
    position: relative;
  }
  .delivery-texto h2 {
    font-size: 2.5rem;
  }
  .delivery-texto p {
    margin-bottom: 32px;
  }
  .delivery-texto a {
    max-width: initial;
  }
}

@media (width <= 480px) {
  .delivery-texto {
    gap: 5px;
  }
  .delivery-texto p {
    max-width: 200px;
    margin-bottom: 16px;
  }
  .delivery-texto a {
    font-size: 1.25rem;
    max-width: 150px;
  }
}
