.drinks-bg {
  background: url("../img/titulo-bg.svg") no-repeat top -100px left;
}

.drinks {
  display: grid;
  gap: 60px;
  justify-items: center;
}

/* Texto inicial */
.drinks-texto {
  display: grid;
  justify-items: center;
  gap: 10px;
  max-width: 550px;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.drinks-texto h2 {
  width: max-content;
  position: relative;
}

.drinks-texto h2::after {
  position: absolute;
  left: 25%;
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: var(--cor-header);
}

.drinks-texto a {
  font-weight: 600;
}

/* Itens */
.drinks-item ul {
  display: flex;
  gap: 50px;
}

.drinks-item ul li {
  display: grid;
  gap: 10px;
  justify-items: center;

  padding: 30px;
  max-width: 300px;
  border-radius: 50px;

  text-align: center;
  color: white;
}
/* Backgrounds */
[data-capuccino] {
  background: linear-gradient(to bottom left, #f6c7c5, #c27d7a);
}

[data-latte] {
  background: linear-gradient(to bottom left, #fafafa, #541511);
}

[data-black] {
  background: linear-gradient(to bottom left, #0a0909, #541511);
}

/* Texto dos itens */
.drinks-item span {
  font-size: 1.25rem;
}

.drinks-item h3 {
  font-size: 2rem;
}

.drinks-item a {
  background: white;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-radius: 25px;
  padding: 12px;

  color: black;
  font-size: 1.125rem;
}

@media (width <= 1000px) {
  .drinks {
    gap: 30px;
  }
  .drinks-item ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
