.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 25px;
  position: relative;
}

/* Header logo */
.header-logo {
  display: flex;
  align-items: center;
}

/* Header nav */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-nav ul {
  display: flex;
  gap: 20px;
}

.header-nav li {
  padding: 10px 20px;
  cursor: pointer;
}

.header-nav ul li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--cor-header);
  margin-top: 2px;
  transition: 0.3s;
}

[data-delivery="delivery"] {
  background: var(--cor-b1);
  border-radius: 40px;

  color: white;
}

.header-nav ul li[data-delivery="delivery"]::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: white;
  margin-top: 2px;
  transition: 0.3s;
}

.header-nav li:hover::after {
  width: 100% !important;
}

[data-delivery="delivery"]:hover {
  background: #2e1212;
}

/* Brief text */
.header-brief {
  max-width: 350px;
}

.header-brief h1 {
  margin: 1rem 0;
}

/* Background image */
.header-img {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

@media (width <= 1000px) {
  .header-logo span {
    font-size: 1.25rem;
  }
  /* povisório até colocar o menu-mobile */
  .header-nav {
    display: none;
  }
  .header-nav ul {
    font-size: 1rem;
  }
  .header-brief {
    grid-row: 2;
  }
  .header-brief h1 {
    font-size: 2rem;
  }
  .header-img {
    right: -250px;
  }
}

@media (width <= 450px) {
  .header {
    grid-template-columns: 1fr;
  }
  .header-img {
    display: none;
  }
  .header-logo {
    flex-direction: column;
  }
  .header-logo span {
    display: none;
  }
}
