:root {
  --cor-bg: #f7f2e8;
  --cor-header: #3c0e0e;
  --cor-t1: #000000;
  --cor-t2: #282828;
  --cor-t3: #1a1a1a;
  --cor-t4: #222222;
  --cor-b1: #431b1b;
  --cor-b2: #4d1d1d;
  --cor-p1: #eb8e8e;
  --cor-p2: #f9c4c4;
  --cor-white: white;
}

.cor-bg {
  color: var(--cor-bg);
}
.cor-header {
  color: var(--cor-header);
}
.cor-t1 {
  color: var(--cor-t1);
}
.cor-t2 {
  color: var(--cor-t2);
}
.cor-t3 {
  color: var(--cor-t3);
}
.cor-t4 {
  color: var(--cor-t4);
}
.cor-b1 {
  color: var(--cor-b1);
}
.cor-b2 {
  color: var(--cor-b2);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-white {
  color: var(--cor-white);
}
