:root {
  --cor-bg: #f7f2e8;
  --cor-head: #3c0e0e;
  --cor-t1: #000000;
  --cor-t2: #282828;
  --cor-t3: #1a1a1a;
  --cor-t4: #222222;
  --cor-b1: #431b1b;
  --cor-b2: #4d1d1d;
  --cor-p1: #eb8e8e;
  --cor-p2: #f9c4c4;
}
