.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin: auto auto 100px auto;
}

.botao {
  display: block;

  background: white;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-radius: 25px;
  padding: 12px;

  color: black;
  font-size: 1.125rem;
}

@media (width <= 1000px) {
  .botao {
    max-width: 250px;
  }
}

@media (width <= 450px) {
  .container {
    margin-bottom: 80px;
  }
  .botao {
    max-width: 150px;
  }
}
