.font-xs {
  font: 400 1rem/1.57 "Poppins", sans-serif;
}

.font-s {
  font: 400 1.25rem/1.57 "Poppins", sans-serif;
}

.font-m {
  font: 500 1.125rem/1.35 "Poppins", sans-serif;
}

.font-l {
  font: 600 1.5rem/1 "Poppins", sans-serif;
}

.font-xl {
  font: 600 2.5rem/1.57 "Poppins", sans-serif;
}

.font-xll {
  font-weight: 600;
  font-size: 6rem;
  line-height: 1.045;
  font-family: "Poppins", sans-serif;
  /* font: 600 4rem/1.125 "Poppins", sans-serif; */
}

@media (width <= 1200px) {
  .font-xxl {
    font-size: 3rem;
  }
}

@media (width <= 800px) {
  .font-xxl {
    font-size: 2rem;
  }
  .font-xl {
    font-size: 1.5rem;
  }
}
